*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    width: auto;
    margin: 0;
   padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}
.Home{
    color: #FFFFFF;
}
.undo-icon{
    padding: 50px;
    font-size: 50px !important;
}
a{
    color: inherit; 
}
.image{
    width: 100vw;
    height: 75vh;
    top: 202px;
}
.color0s1{
    background-color: black;
    height: 100px;
}
.color1s1{
    background-color: #161414;
    height: 238px;
    top: 1027px;
    gap: 0px;
    opacity: 0.7px;

}
.color2s1{
    background-color: #201D1D;
    height: 238px;
    top: 1265px;
    gap: 0px;
    opacity: 0.7px;
}
.color3s1{
    background-color: #171515;
    height: 238px;
    top: 1741px;
    gap: 0px;
    opacity: 0.7px;

}
.color4s1{
    background-color: #100F0F;   
    height: 238px;
    top: 1979px;
    gap: 0px;
    opacity: 0.7px;

}
.color5s1{
    background-color: #4c0505;   
    height: 40px;     
}
.color6s1{
   background-color: black; 
   width: 100%;
   height: 140px;
}
.paragraph1{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 41px;
    padding: 20px;
    letter-spacing: 0.4099999964237213px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 1503px;
    gap: 0px;
    opacity: 0.7px;
    background-color: #2C2727;
}


.color0s2{
    background-color: black;
    height: 100px;
}
.color1s2{
    background-color: #7B6A5B;
    height: 238px;
    top: 1027px;
    gap: 0px;
    opacity: 0.7px;

}
.color2s2{
    background-color: #65584D;
    height: 238px;
    top: 1265px;
    gap: 0px;
    opacity: 0.7px;
}
.color3s2{
    background-color: #65584D;
    height: 238px;
    top: 1741px;
    gap: 0px;
    opacity: 0.7px;

}
.color4s2{
    background-color: #564A40;   
    height: 238px;
    top: 1979px;
    gap: 0px;
    opacity: 0.7px;

}
.color5s2{
    background-color: #4c0505;   
    height: 40px;     
}
.color6s2{
   background-color: black; 
   width: 100%;
   height: 140px;
}
.paragraph2{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 41px;
    padding: 20px;
    letter-spacing: 0.4099999964237213px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 1503px;
    gap: 0px;
    opacity: 0.7px;
    background-color: #796B5F;
}







.color0s3{
    background-color: black;
    height: 100px;
}
.color1s3{
    background-color: #236C76;
    height: 238px;
    top: 1027px;
    gap: 0px;
    opacity: 0.7px;

}
.color2s3{
    background-color: #44848C;
    height: 238px;
    top: 1265px;
    gap: 0px;
    opacity: 0.7px;
}
.color3s3{
    background-color: #44848C;
    height: 238px;
    top: 1741px;
    gap: 0px;
    opacity: 0.7px;

}
.color4s3{
    background-color: #236C76;   
    height: 238px;
    top: 1979px;
    gap: 0px;
    opacity: 0.7px;

}
.color5s3{
    background-color: #4c0505;   
    height: 40px;     
}
.color6s3{
   background-color: black; 
   width: 100%;
   height: 140px;
}
.paragraph3{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 41px;
    padding: 20px;
    letter-spacing: 0.4099999964237213px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 1503px;
    gap: 0px;
    opacity: 0.7px;
    background-color: #56969E;
}







.color1s2{
    background-color: #7B6A5B;
    height: 238px;
    top: 1027px;
    gap: 0px;
    opacity: 0.7px;

}
.color2s2{
    background-color: #65584D;
    height: 238px;
    top: 1265px;
    gap: 0px;
    opacity: 0.7px;
}
.color3s2{
    background-color: #65584D;
    height: 238px;
    top: 1741px;
    gap: 0px;
    opacity: 0.7px;

}
.color4s2{
    background-color: #564A40;   
    height: 238px;
    top: 1979px;
    gap: 0px;
    opacity: 0.7px;

}
.color5s2{
    background-color: #4c0505;   
    height: 40px;     
}
.color6s2{
   background-color: black; 
   width: 100%;
   height: 140px;
}
.paragraph2{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 41px;
    padding: 20px;
    letter-spacing: 0.4099999964237213px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 1503px;
    gap: 0px;
    opacity: 0.7px;
    background-color: #796B5F;
}







.img1s4{
    height: auto;
    top: 1027px;
    gap: 0px;
    opacity: 0.7px;

}
.img2s4{
    height: auto;
    top: 1265px;
    gap: 0px;
    opacity: 0.7px;
}
.img3s4{
    height: auto;
    top: 1741px;
    gap: 0px;
    opacity: 0.7px;

}
.img4s4{  
    height: auto;
    top: 1979px;
    gap: 0px;
    opacity: 0.7px;

}
.img6s4{
   background-color: black; 
   width: 100%;
   height: 140px;
}
.paragraph4{
    display: flex;
    font-size: 31px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}
.image-container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.image-container img {
    width: 100%; 
    height: auto;
}
.image-container img, .img1s4, .img2s4, .img3s4, .img4s4 {
    display: block; 
    width: 100%; 
    height: auto;
    border: none; 
    margin: 0; 
    padding: 0; 
}